/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "Helvetica";
  src: url("./japanese-icon.eot");
  src: url("./japanese-icon.eot?#iefix") format("embedded-opentype"),
       url("./japanese-icon.woff") format("woff"),
       url("./japanese-icon.ttf") format("truetype"),
       url("./japanese-icon.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./japanese-icon.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-hishi:before,
.icon-hishi02:before,
.icon-hishi03:before,
.icon-hishi04:before,
.icon-kikko:before,
.icon-kiku:before,
.icon-kiri:before,
.icon-kumo:before,
.icon-matsu:before,
.icon-sakura:before,
.icon-shipou:before,
.icon-shipou02:before,
.icon-take:before,
.icon-ume:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-hishi:before { content: "\f100"; }
.icon-hishi02:before { content: "\f101"; }
.icon-hishi03:before { content: "\f102"; }
.icon-hishi04:before { content: "\f103"; }
.icon-kikko:before { content: "\f104"; }
.icon-kiku:before { content: "\f105"; }
.icon-kiri:before { content: "\f107"; }
.icon-kumo:before { content: "\f108"; }
.icon-matsu:before { content: "\f109"; }
.icon-sakura:before { content: "\f10a"; }
.icon-shipou:before { content: "\f10b"; }
.icon-shipou02:before { content: "\f10c"; }
.icon-take:before { content: "\f10d"; }
.icon-ume:before { content: "\f10e"; }
